{% extends "base.html" %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/root.css' %}">
<link rel="stylesheet" href="{% static 'store/css/home.css' %}">
{% endblock %}

{% block content %}
    <div class="content-home">
        <div class="section accessories">
            <article class="product-card">
                <div class="thumb">
                    <img src="images/ipad-pro-m5-11.png" alt="iPad Pro M5 11 inch WiFi 256GB" />
                </div>
                <h3 class="title">iPad Pro M5 11 inch WiFi 256GB</h3>
                <div class="price-row">
                    <div class="price-old">30.000.000đ</div>
                    <div class="price">29.990.000₫</div>
                </div>
                <div class="buy">Mua ngay</div>
            </article>
        </div>
        <div class="section"></div>
        <div class="section"></div>
        <div class="section"></div>
    </div>
{% endblock %}