.dashboard-cards {
    gap: 20px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
}

.card {
    background: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.card h3 {
    margin-bottom: 10px;
    color: #555;
}

.card strong {
    font-size: 24px;
    color: #2e7d32;
}

.filter-box {
    height: fit-content;
    background: #f8f8f8;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 30px;

}
.filter-box .header-site{
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin-left: 0;
    padding-left: 0;
}
.filter-box .radio-filter{
    margin: 0;
    padding: 0;
}
.filter-box .option-filter{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    gap: 10px;
}


.admin-table {
    width: 100%;
    border-collapse: collapse;
}

.admin-table th, .admin-table td {
    border: 1px solid #ddd;
    padding: 8px;
}

.admin-table th {
    background: #f0f0f0;
}
.filter.default {
    max-width: 37px;
    max-height: 32px;
    border-radius: 5px;
    background-color: #0D47A1;
    color: #f5dd5d;
    border: none;
}
