{% extends "base.html" %}
{% block head %}
{% load static %}
{% load custom_filters %}
<link rel="stylesheet" href="{% static 'products/css/tablet1.css' %}">
{% endblock %}

{% block content %}
<div class="sort-group">
    <span class="filter-label">Sắp xếp theo:</span>
    <button>Nổi bật</button>
    <button>Bán chạy</button>
    <button>Giảm giá</button>
    <button>Mới</button>
    <button>Giá</button>
</div>

<div class="container mt-4">
    {% if pageObj %}
    <div class="row row-cols-2 row-cols-md-4 g-4">
        {% for product in pageObj %}
        <div class="col">
            <a href="{% url 'productDetail' product.id %}">
                <div class="card h-100">
                    {% if product.image_main %}
                        <img src="{{ product.image_main.url }}" class="card-img-top" alt="{{ product.name }}">
                    {% else %}
                        <img src="{% static 'no-image.png' %}" class="card-img-top" alt="No image">
                    {% endif %}

                    <div class="card-body">
                        <h5 class="card-title">{{ product.name }}</h5>
                        <p class="card-text">{{ product.description|truncatewords:20 }}</p>

                        {% with discount=discount_map|dict_key:product.id %}
                            {% if discount %}
                                <s class="fw-bold original" style="font-size:13px;color:gray">
                                    {{ product.formatted_price }}
                                </s>
                                <p class="text-danger fw-bold">
                                    {{ discount.formatted_priceD }}
                                </p>
                            {% else %}
                                <p class="fw-bold">{{ product.formatted_price }}</p>
                            {% endif %}
                        {% endwith %}
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>

    <div class="pagination mt-4">
        {% if pageObj.has_previous %}
            <a href="?page=1">«</a>
            <a href="?page={{ pageObj.previous_page_number }}">‹</a>
        {% endif %}

        {% for i in pageObj.paginator.page_range %}
            {% if pageObj.number == i %}
                <span class="active">{{ i }}</span>
            {% else %}
                <a href="?page={{ i }}">{{ i }}</a>
            {% endif %}
        {% endfor %}

        {% if pageObj.has_next %}
            <a href="?page={{ pageObj.next_page_number }}">›</a>
            <a href="?page={{ pageObj.paginator.num_pages }}">»</a>
        {% endif %}
    </div>

    {% else %}
        <p class="text-center">Không có sản phẩm nào.</p>
    {% endif %}
</div>
{% endblock %}
