<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>Header</title>

  <!-- Bootstrap Icons -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css" rel="stylesheet">

  <link rel="stylesheet" href="../../store/static/css/header.css">
</head>
<body>

  <!-- TOP BAR -->
  <div class="topbar">
    <div class="container">

      <div class="logo">
        <img src="/TechStore/store/img/img.png" />
      </div>

         <div class="search-box">
      <div class="search">
        <i class="bi bi-search"></i>
        <input type="text" placeholder="  Nhập vào sản phẩm bạn muốn tìm kiếm..." />
      </div>
    </div>


      <div class="actions">
        <a href=""><i class="bi bi-person-circle"></i> Đăng nhập</a>
        <a href=""><i class="bi bi-cart3"></i> Giỏ hàng</a>
        <a href=""><i class="bi bi-geo-alt"></i> Địa chỉ</a>
      </div>

    </div>
  </div>

  <!-- NAV MENU -->
  <div class="nav">
    <div class="container">
      <a href="#"><i class="bi bi-phone"></i> Điện thoại</a>
      <a href="#"><i class="bi bi-laptop"></i> Laptop</a>
      <a href="#"><i class="bi bi-earbuds"></i> Phụ kiện</a>
      <a href="#"><i class="bi bi-smartwatch"></i> Smartwatch</a>
      <a href="#"><i class="bi bi-watch"></i> Đồng hồ</a>
      <a href="#"><i class="bi bi-tablet"></i> Tablet</a>
      <a href="#"><i class="bi bi-arrow-repeat"></i> Máy cũ, Thu cũ</a>
      <a href="#"><i class="bi bi-display"></i> Màn hình, Máy in</a>
      <a href="#"><i class="bi bi-sim"></i> Sim, Thẻ cào</a>
      <a href="#"><i class="bi bi-receipt"></i> Dịch vụ tiện ích</a>
    </div>
  </div>

</body>
</html>
