.content-home {
    width: 100%;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
}

.content-home .section {
    width: 80%;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    background-color: var(--primary-color);
    border-radius: 5px;
    padding: 10px 10px;
    justify-content: space-between;
}
.content-home .section .product-card {
    background-color: #F2F4F7;
      border: 1px solid gray;
      border-radius: 12px;
      padding: 10px;
      display: flex;
      flex-direction: column;
      transition: box-shadow 0.2s ease;
      min-height: 360px;
    }

.content-home .section .product-card:hover {
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.content-home .section .thumb {
    position: relative;
    background: #fff;
    border: 1px dashed var(--border-color);
    border-radius: 10px;
    padding: 8px;
    aspect-ratio: 1 / 1;
    display: grid;
    place-items: center;
    margin-bottom: 10px;
    }

.content-home .section .thumb img {
     width: 80%;
     height: auto;
     object-fit: contain;
     max-width: 150px;
     margin: 0 auto;
 }
.content-home .section .thumb img:hover {
    transform: scale(1.3);
}
.content-home .section .title {
    font-size: 14px;
    font-weight: bold;
    margin: 4px 0 8px;
    }

.content-home .section .specs {
    list-style: none;
    margin: 0 0 10px;
    padding: 0;
    font-size: 13px;
}

.content-home .section .specs li {
    margin: 4px 0;
}

.content-home .section .price-row {
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-weight: bold;
    justify-content: start;
}

.content-home .section .price {
    color: #e53935;
    font-size: 16px;
}

.content-home .section .price-old {
    color: #999;
    text-decoration: line-through;
    font-size: 13px;
}
.content-home .section .buy{
    width: 60%;
    background-color: var(--primary-color);
    font-family: var(--primary-font), sans-serif;
    margin-bottom: -10px;
    text-align: center;
    padding: 5px 10px;
    border-radius: 5px;
}
.content-home .section .buy{
    cursor: pointer;
}

