{% load static %}
<link rel="stylesheet" href="{% static 'css/profile.css' %}">

<div class="profile-container">
  <h2 class="profile-heading">Đổi mật khẩu</h2>

  {% if error %}
    <p style="color:red;">{{ error }}</p>
  {% endif %}

  <form method="post">
    {% csrf_token %}
    <div class="form-group">
      <label>Mật khẩu hiện tại</label>
      <input type="password" name="currentPassword" required>
    </div>

    <div class="form-group">
      <label>Mật khẩu mới</label>
      <input type="password" name="newPassword" required>
    </div>

    <div class="form-group">
      <label>Nhập lại mật khẩu mới</label>
      <input type="password" name="confirmPassword" required>
    </div>

    <button type="submit" class="save-btn">Xác nhận đổi mật khẩu</button>
  </form>
</div>
