{% load static %}
<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <title>Đăng ký | TechStore</title>
    <link rel="stylesheet" href="{% static 'css/signup-login.css' %}">
</head>
<body>

<div class="auth-wrapper">

    <div class="auth-box">

        <h2 class="auth-title">Tạo tài khoản</h2>
        <p class="auth-subtitle">Đăng ký để mua sắm nhanh hơn tại TechStore</p>

        {% if error %}
          <p class="error">{{ error }}</p>
        {% endif %}

        <form method="post">
            {% csrf_token %}

            <label>Email</label>
            <input type="email" name="email" placeholder="Nhập email" required>

            <label>Mật khẩu</label>
            <input type="password" name="password" placeholder="Tạo mật khẩu" required>

            <label>Họ và tên</label>
            <input type="text" name="full_name" placeholder="Nhập họ và tên">

            <button type="submit">Đăng ký</button>
        </form>

        <div class="auth-footer">
            <span>Đã có tài khoản?</span>
            <a href="/accounts/login/">Đăng nhập</a>
        </div>

    </div>

</div>

</body>
</html>
