{% load static %}
<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <title>Đăng ký | TechStore</title>
    <link rel="stylesheet" href="{% static 'css/signup-login.css' %}">
</head>
<body>

<div class="auth-wrapper">

    <div class="auth-box">

        <h2 class="auth-title">Tạo tài khoản</h2>
        <p class="auth-subtitle">Đăng ký để mua sắm nhanh hơn tại TechStore</p>
        
                {% if error %}
          <p style="color:red;">{{ error }}</p>
        {% endif %}
        
        <form method="post">
          {% csrf_token %}
          <label>Họ và tên:</label>
          <input type="text" name="full_name" required><br>
        
          <label>Email:</label>
          <input type="email" name="email" required><br>
        
          <label>Số điện thoại:</label>
          <input type="text" name="phone"><br>
        
          <label>Ngày sinh:</label>
          <input type="date" name="date_of_birth"><br>
        
          <label>Giới tính:</label>
  
            <input type="text" name="gender" list="gender-options" placeholder="Chọn giới tính" required>
            <datalist id="gender-options">
              <option value="Nam">
              <option value="Nữ">
              <option value="Khác">
            </datalist>
  
         

        
          <label>Mật khẩu:</label>
          <input type="password" name="password" required><br>
        
          <label>Xác nhận mật khẩu:</label>
          <input type="password" name="confirm_password" required><br>
        
          <button type="submit">Đăng ký</button>
        </form>

    </div>

</div>

</body>
</html>
